*{
    margin: 0;
    padding: 0;
  
  }
  html{
      width:100%;
      height: 100%;
      background-image: url("../irudiak/Fondo.jpg");
  }
  /*gora bidaltzeko botoia*/
#btn_gora{
    width: 100px;
    height: 100px;
    background-color: red;
    position: fixed;
    margin-left:70%;
    margin-top: 45%;
    z-index:3;
  }
  .item1{grid-area: header;}
  .item2{grid-area:formularioa;}
  .item3{grid-area:footer;}
  
  .grid-container{
    display: grid;
    grid-gap: 10px;
    padding: 10px;
  
    border-color: black;
    border-style: solid;
    border-width: 10px;
    grid-template-areas: 
    'header header header'
    'formularioa formularioa formularioa'
    'footer footer footer';
  }
  .item2>h1{
    padding: 0 0 0 1.5%;
  }
  .grid-container>div{
    border-color: gray;
    border-style: solid;
    border-width: 10px;
  }
  a:active {
    text-decoration: none;
  }
  a {
    text-decoration: none;
  }
  
  header{
    padding: 1%;
  }
  
  .navegacion{
    width: 100%;
    margin: 30px auto;
    
    background: gray;
  }
  
  .navegacion ul{
    list-style: none;
  }
  .menu >li{
    position: relative;
    display: inline-block;
    font-size: 1.5em;
    font-family: Joker;
    src: url("Fonts/joker.ttf");
    font: oblique bold 120% cursive;
    color: #fff;
  }
  .menu >li>a{
    
    display: block;
    padding: 15px 20px;
    font-family: 'Open sans';
    text-decoration: none;
    font: oblique bold 120% cursive;
    color: #fff;
    font-size: 35px;
    font-family: Joker;
    src: url("Fonts/joker.ttf");
  
  }
  
  .menu li a:hover{
    color: #44403f;
    transition: all .3s;
  }
  .submenu{
    position:absolute;
    background: #333333;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
    text-align: center;
  
  }
  
  .submenu li a{
    display: block;
    padding: 15px;
    color: #fff;
    font-family:'Open sans';
    text-decoration: none;
  }
  
  .menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
    
  }
  body{
      border: #000;
      border-top-width: 40px;
      border-style: solid;
      border-top-left-radius: 2%;
      border-top-right-radius: 2%;
      width: 75%;
      margin-left:12.5%;
      background-color: white;
  }
  footer h2{
    color: white;
  }
  footer{
      text-align: center;
      background-color: #000;
      border-style: solid;
      border-bottom-width: 10px;
      border-radius: 2%;
      border-radius: 2%;
  }
  
  
  h2{
    padding-top: 10%;
  }
  #principal{ 
    display: block; 
    width: 95%; 
    margin: 50px auto; 
    padding: 15px; 
    border: 1px solid #999999; 
    background: #FFFFFF; 
    column-count: 3; 
    column-gap: 10px; 
     }
      