* {
    margin:0px;
    padding:0px;
  }
  html{
      width:100%;
      height: 100%;
      background-image: url("../irudiak/fondo.jpg");
  }
  .item1 { grid-area: header; }
  .item2 { grid-area: egutegi; }
  .item3 { grid-area: klasifikazioa; }
  .item4 { grid-area: footer; }
  .item5 {grid-area: main;}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'egutegi egutegi egutegi egutegi klasifikazioa klasifikazioa'
    'main main main main main main'
    'footer footer footer footer footer footer';
  grid-gap: 10px;
  padding: 10px;
  border-color: black;
  border-style: solid;
  border-width: 10px;
}


.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px 0;
  font-size: 30px;
  border-color: gray;
  border-style: solid;
  border-width: 10px;
}


.taldeak-grid {
  display: grid;
  grid-template-columns:repeat(8,1fr);
  grid-gap: 10px;
  padding: 20px 0 20px 80px;
  
}

.taldeak-grid > div {
  background-color: rgba(88, 25, 25, 0.8);
  font-size: 15px;
  height: 150px;
  text-align: center;
  width: 100px;
}

div h2{
  text-align: center;
}
.sailkapena-flex {
  display: flex;
  flex-direction: column;
  padding: 10px;

  
}
.sailkapena-flex > div {
  background-color: rgba(206, 182, 182, 0.8);
  font-size: 10px;
  height: 25px;
  width: 100px;
  padding:10px;
  margin: 2px;
}
  header{
    padding: 1%;
  }
  
  
  .navegacion{
    width: 100%;
    margin: 30px auto;
    
    background: gray;
  }
  
  .navegacion ul{
    list-style: none;
  }
  .menu >li{
    position: relative;
    display: inline-block;
    font-size: 1.5em;
    font-family: Joker;
    src: url("Fonts/joker.ttf");
    font: oblique bold 120% cursive;
    color: #fff;
  }
  .menu >li>a{
    
    display: block;
    padding: 15px 20px;
    font-family: 'Open sans';
    text-decoration: none;
    font: oblique bold 120% cursive;
    color: #fff;
    font-size: 35px;
    font-family: Joker;
    src: url("Fonts/joker.ttf");
  
  }
  
  .menu li a:hover{
    color: #44403f;
    transition: all .3s;
  }
  .submenu{
    position:absolute;
    background: #333333;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
    text-align: center;
  
  }
  
  .submenu li a{
    display: block;
    padding: 15px;
    color: #fff;
    font-family:'Open sans';
    text-decoration: none;
  }
  
  .menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
    
  }
  body{
      border: #000;
      border-top-width: 40px;
      border-top-style: solid;
      border-top-left-radius: 2%;
      border-top-right-radius: 2%;
      width: 75%;
      margin-left:12.5%;
      background-color: white;
  }
  
  footer h2{
    color: white;
  }
  footer{
    text-align: center;
    background-color: #000;
    border-style: solid;
    border-bottom-width: 10px;
    border-radius: 2%;
    border-radius: 2%;
    width: 100%;
}
  .astekoegunak {
    margin-bottom: 15px;
    text-align: center;
    font-size: 25px;
    margin-bottom: 150px;
}
.egutegia{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    box-sizing: border-box;
    height: 90%;
    
}
.egutegia>div{
  padding: 2%;
    width: 90%;
    height: 70%;
    box-sizing: border-box;
}



/*Lehiaketa egunak*/
.Lehiaketa_eguna{
  position:relative;
  background-color: goldenrod;
}
.Lehiaketa_textua{
  display:none;
  position:absolute;
  z-index:100;
  border:1px;
  background-color:white;
  border-style:solid;
  border-width:1px;
  border-color:black;
  padding:3px;
  color:black;
  top:20px;
  left:20px;
}
.Lehiaketa_eguna:hover span.Lehiaketa_textua{
  display:block;
}


